---
http_interactions:
- request:
    method: post
    uri: https://skunk.fastruby.io/reports
    body:
      encoding: UTF-8
      string: '{"entries":[{"file":"samples/rubycritic/analysed_module.rb","skunk_score":0.59,"churn_times_cost":0.59,"churn":1,"cost":0.59,"coverage":100.0}],"summary":{"total_skunk_score":0.59,"analysed_modules_count":1,"skunk_score_average":0.59,"skunk_version":"0.4.2","worst_skunk_score":{"file":"samples/rubycritic/analysed_module.rb","skunk_score":0.59}},"options":{"compare":"false"}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"510d9374d13d569167428b81cfd4cf0e"
    body:
      encoding: UTF-8
      string: '{"id":"j"}'
  recorded_at: Wed, 18 Nov 2020 20:48:58 GMT
recorded_with: VCR 6.0.0
