---
http_interactions:
- request:
    method: post
    uri: https://skunk.fastruby.io/reports
    body:
      encoding: UTF-8
      string: '{"entries":[{"file":"samples/rubycritic/analysed_module.rb","skunk_score":0.59,"churn_times_cost":0.59,"churn":1,"cost":0.59,"coverage":100.0}],"summary":{"total_skunk_score":0.59,"analysed_modules_count":1,"skunk_score_average":0.59,"skunk_version":"0.4.2","worst_skunk_score":{"file":"samples/rubycritic/analysed_module.rb","skunk_score":0.59}},"options":{"compare":"false"}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db8d54e18bf855dd76322682fa1becab"
    body:
      encoding: UTF-8
      string: '{"id":"i"}'
  recorded_at: Tue, 17 Nov 2020 03:34:54 GMT
- request:
    method: post
    uri: https://skunk.fastruby.io/reports
    body:
      encoding: UTF-8
      string: '{"entries":[{"file":"samples/rubycritic/analysed_module.rb","skunk_score":0.59,"churn_times_cost":0.59,"churn":1,"cost":0.59,"coverage":100.0}],"summary":{"total_skunk_score":0.59,"analysed_modules_count":1,"skunk_score_average":0.59,"skunk_version":"0.4.2","worst_skunk_score":{"file":"samples/rubycritic/analysed_module.rb","skunk_score":0.59}},"options":{"compare":"false"}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2767208473ab57fb1340a05684331ee1"
    body:
      encoding: UTF-8
      string: '{"id":"j"}'
  recorded_at: Tue, 17 Nov 2020 03:34:54 GMT
recorded_with: VCR 6.0.0
